{% extends "base.html" %}
{% load i18n crispy_forms_tags staticfiles %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script type="text/javascript" src="{% static 'js/editor.js' %}"></script>
{% endblock javascript %}

{% block content %}

{# TODO: make include or smthing here and in question_form, to make it more DRY #}

<form id="upload_image_form" method="POST" action="{% url 'api:upload_image' %}" enctype="multipart/form-data">
  {% csrf_token %}
  {{ image_form|crispy }}
  <input type="submit" value="{% trans 'Add Image..' %}"/>
</form>
<div style='display: none;' class="alert alert-danger" id="error"></div>

<form method="POST" action="">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" value="{% trans 'Add Answer' %}"/>
</form>

{% endblock content %}
