{% extends "base.html" %}
{% load i18n crispy_forms_tags staticfiles %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script type="text/javascript" src="{% static 'js/editor.js' %}"></script>
{% endblock javascript %}

{% block content %}

{% include "questions/image_form.html" %}

<form method="POST" action="">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" value="{% trans 'Add Answer' %}"/>
</form>

{% endblock content %}
