{% load i18n avatar_tags %}

<div class="small row">
  <div class="small col-sm-3">
  {% if user == post.author %}
    <a class="bg-info" href="{% url edit_url post.pk %}">{% trans "Edit" %}</a>
    <a class="bg-danger" href="{% url del_url post.pk %}">{% trans "Delete" %}</a>
  {% endif %}
  </div>
  <div class="col-sm-offset-3 col-sm-3">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
      <p class="small">
      {% blocktrans with update_date=post.update_date %}
      Last edited {{ update_date }}
      {% endblocktrans %}
      </p>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="col-sm-6">
      <p class="small">
      {% url 'users:detail' post.author.username as author_url %}
      {% blocktrans with publish_date=post.pub_date author=post.author %}
      Published {{ publish_date }} by
      <a href="{{ author_url }}">
        {{ author }}
      </a>
      {% endblocktrans %}
      </p>
    </div>
    <div class="col-sm-6">
      {% avatar post.author 50 %}
    </div>
  </div>
</div>
