{% load i18n avatar_tags %}

<div class="conteiner">
  <ul class="list-unstyled">
    {% for comment in comment_list %}
    <li class="col-sm-10 col-sm-offset-1">
      <p class="text-justify dark">{{ comment.text|urlize }}</p>

      {% include "questions/author_detail.html" with post=comment edit_url=edit_url del_url=delete_url %}

    </li>
    {% endfor %}

    {% if user.is_authenticated %}
    <div class="row">
      <li>
        <form action="{% url add_url post.pk %}" method="POST">
          {% csrf_token %}
          <div class="col-sm-7 col-sm-offset-1">
            <textarea class="col-sm-12" id="id_text" name="text"></textarea>
          </div>
          <input type="submit" class="col-sm-2 btn" value="{% trans 'Add comment' %}" />
        </form>
      </li>
    </div>
    {% endif %}
  </ul>
</div>
