{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include 'pagination.html' %}

<div class='row'>
<h5>
{% trans "Order by" %}
</h5>
</div>
<div class='row'>
<ul>
  <li><a href="?o=pub_date">{% trans "Publication date increasing" %}</a></li>
  <li><a href="?o=-pub_date">{% trans "Publication date decreasing" %}</a></li>
  <li><a href="?o=views">{% trans "Views increasing" %}</a></li>
  <li><a href="?o=-views">{% trans "Views decreasing" %}</a></li>
  <li><a href="?o=answers">{% trans "Answers increasing" %}</a></li>
  <li><a href="?o=-answers">{% trans "Answers decreasing" %}</a></li>
</ul>
</div>

<ul class="list-unstyled">
<hr/>
{% for question in question_list %}
{% if question.author.is_doctor and user.is_doctor or not question.author.is_doctor %}
<li >

  <div class="row
{% if question.author.is_doctor %}
special
{% endif %}
"
    >
    <div class="col-sm-1 text-center">
      <div class="row">
        {{ question.answers }}
      </div>
      <div class="row">
        answers
      </div>
    </div>
    <div class="col-sm-1 text-center">
      <div class="row">
        {{ question.views }}
      </div>
      <div class="row">
        views
      </div>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <h3 class="panel-title">
          <a href="{% url 'questions:details' question.pk %}">{{ question.title }}</a>
        </h3>
      </div>
      <div class="small row">
        <p class="text-right small">
        Asked {{ question.pub_date }} by
        <a href="{% url 'users:detail' question.author %}">{{ question.author }}</a>
        </p>
      </div>
    </div>
  </div>
</li>
<hr/>
{% endif %}
{% endfor %}
</ul>

{% endblock content %}
