{% extends "base.html" %}
{% load i18n crispy_forms_tags avatar_tags bleach_tags %}

{% block content %}

<div class="conteiner">

  <div id="enlargedImage">
    <img src=""></img>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>{{ question.title }}
      {% if question.is_closed %}
      <small class="small bg-danger">{% trans "Closed" %}</small>
      {% endif %}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      {% if question.author == user %}
      <form action="{% url 'questions:close' question.pk %}" method="POST">
        {% csrf_token %}
        {% if question.is_closed %}
        <input type="submit" class='btn btn-success' value="{% trans "Open question" %}" />
        <input type="hidden" name="is_closed" value="False" />
        {% else %}
        <input type="submit" class='btn btn-danger' value="{% trans "Close question" %}" />
        <input type="hidden" name="is_closed" value="True" />
        {% endif %}
      </form>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {# The hope is that bleach will make proper sanitization #}
      <p class="text-justify">{{ question.text|bleach }}</p>
    </div>
  </div>

  <div class="row">
    <p>
    {% for tag in tags %}
    <a href="{% url 'questions:tag_detail' tag.pk %}">{{ tag.name }}</a>
    {% endfor %}
    <p>
  </div>

  {% include "questions/author_detail.html" with post=question edit_url='questions:update' del_url='questions:delete' %}

  <hr/>

  {% include "questions/comment_list.html" with comment_list=comments edit_url='questions:comment_update' delete_url='questions:comment_delete' add_url='questions:add_comment' post=question %}

  {# ANSWERS SECTION #}
  <hr/>
  <div class="row">
    <div class="col-sm-10">
      <h2>{% trans "Answers" %}</h2>
    </div>
  </div>

  {% for answer in answers %}
    <div class="row">
      <div class="col-sm-12">
        {# The hope is that bleach will make proper sanitization #}
        <p class="text-justify">{{ answer.text|bleach }}</p>
      </div>
    </div>

    {% include "questions/author_detail.html" with post=answer edit_url='questions:answer_update' del_url='questions:answer_delete' %}
    <hr/>

    {% include "questions/comment_list.html" with comment_list=answer.comment_set.all edit_url='questions:answer_comment_update' delete_url='questions:answer_comment_delete' add_url='questions:add_answer_comment' post=answer %}

    <hr/>
    <hr/>
  {% endfor %}

  <br/>

  {% if perms.questions.add_answer %}
  <a class="btn btn-primary" href="{% url 'questions:add_answer' question.pk %}">{% trans "Add Answer" %}</a>
  {% endif %}
</div>

{% endblock content %}
