{% extends "base.html" %}
{% load i18n crispy_forms_tags staticfiles %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script type="text/javascript" src="{% static 'js/editor.js' %}"></script>
{% endblock javascript %}

{% block content %}

<form id="upload_image_form" method="POST" action="{% url 'api:upload_image' %}" enctype="multipart/form-data">
  {{ image_form|crispy }}
  <input hidden id="src_holder"></input>
  {% csrf_token %}
  <input type="submit" value="{% trans 'Add Image..' %}"/>
  <br/>
  <canvas id="preview" style="display:none;"></canvas>
</form>
<div style='display: none;' class="alert alert-danger" id="error"></div>

<form method="POST" action="">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" value="{% trans 'Ask question' %}"/>
</form>

{% endblock content %}
