{% extends "base.html" %}
{% load i18n %}

{% block content %}


<h1>{% trans "Questions list" %}</h1>


{% comment %}
<aside>
  <h2>Tags</h2>
  {# tags will go here #}
</aside>
{% endcomment %}

<h2>
  {% trans "Order by" %}
</h2>
<ul>
  <li><a href="?o=pub_date">{% trans "Publication date increasing" %}</a></li>
  <li><a href="?o=-pub_date">{% trans "Publication date decreasing" %}</a></li>
  <li><a href="?o=views">{% trans "Views increasing" %}</a></li>
  <li><a href="?o=-views">{% trans "Views decreasing" %}</a></li>
  <li><a href="?o=answers">{% trans "Answers increasing" %}</a></li>
  <li><a href="?o=-answers">{% trans "Answers decreasing" %}</a></li>
</ul>

{% include 'pagination.html' %}

<ul class="questions-list">
  {% for question in question_list %}
  {% if question.author.is_doctor and user.is_doctor or not question.author.is_doctor %}
  <li
    {% if question.author.is_doctor %}
    class = "doctor-question"
    {% endif %}
    >
    <div class="answer-count">
      <p>
    {{ question.answers }}
      </p>
    <p>
    {% blocktrans count counter=question.answers %}answer{% plural %}answers{% endblocktrans %}
    </p>
    </div>
    <div class="views-count">
      <p>
      {{ question.views }}
      </p>
      <p>
      {% blocktrans count counter=question.views %}view{% plural %}views{% endblocktrans %}
      </p>
    </div>
    <div class="question-title">
      <p>
        <a href="{% url 'questions:details' question.pk %}">{{ question.title }}</a>
      </p>
    </div>
    <div class="publish-date">
      <p>
      {{ question.pub_date }}
      </p>
    </div>
    <div class="question-author">
      <p>
      <a href="{% url 'users:detail' question.author %}">
        {{ question.author }}
      </a>
      </p>
    </div>
  </li>
  {% endif %}
  {% endfor %}
</ul>

{% include 'pagination.html' %}

{% endblock content %}
