{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "About" %}</h1>

<div class="row">
<button class="btn btn-primary" id='add-content' >Add content</button>
<button class="btn btn-danger" id='clear-content' >Clear content</button>
</div>

<h2>Content</h2>

<p id='content'></p>


{% endblock content %}

{% block javascript %}
{{ block.super }}

<script>
var ipsum = [
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam quam, commodo in libero ut",
  "consectetur dictum elit. Mauris sit amet dui libero. Cras urna eros, lobortis et pulvinar mollis, rhoncus faucibus",
  "tortor. Integer elementum eros tellus, eu efficitur nunc ullamcorper at. Fusce venenatis semper sapien, id malesuada",
  "magna rutrum in. Nam sed tortor in nunc porttitor pharetra a sit amet arcu. Aliquam erat volutpat. ",
             ].join(" ");


$(document).ready(function() {
  var $c = $('#content');
  $("button#add-content").click(function(e) {
    $c.text($c.text() + ipsum);
  });
  $("button#clear-content").click(function(e) {
    $c.text('');
  });
});

</script>

{% endblock javascript %}
