{% extends "base.html" %}
{% load static i18n avatar_tags %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">

    <div class="col-sm-10 text-center">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
      {% if object.display_email %}
        <p>{{ object.email|urlize }}</p>
      {% endif %}

    </div>

    <div class="col-sm-2">
      {% avatar user %}
    </div>

  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    {# TODO: Make settings url in dropdown #}
    <a class="btn btn-primary" href="{% url 'users:update' %}">{% trans "Settings" %}</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

