[hidden][style="display: block;"] {
  display: block !important; }

/**
 * GENERAL
 **/
* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #37343F; }

/**
 * Image Inlarging
 **/
#enlargedImage {
  display: none;
  position: fixed;
  text-align: center;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.4); }
  #enlargedImage img {
    height: 100%;
    max-width: 100%;
    max-height: 100%; }

/**
 * Main page
 **/
article {
  margin: 2em auto;
  width: 70%;
  max-width: 1200px; }

article p {
  font-size: 16px; }

article p:first-letter {
  font-size: 21px; }

/**
 * HEADER
 **/
header nav {
  background-color: #64578B;
  margin: 0; }
  header nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0; }
    header nav ul li a {
      display: block;
      padding: 1.5em; }
  header nav a {
    font-family: 'Noto Serif', serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #F4F1FC;
    font-weight: 600;
    transition: all 0.2s ease-in; }
  header nav a:hover {
    color: #B7ACD5; }
  header nav .logo {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    display: block;
    padding: 1.3em;
    text-transform: none;
    border-bottom: 1px solid black; }
  header nav div.actions {
    display: block;
    text-align: center;
    margin: 0 auto; }
    header nav div.actions ul, header nav div.actions ul li {
      display: block; }
    header nav div.actions .user-nav img {
      display: none;
      -webkit-border-radius: 200px;
      -moz-border-radius: 200px;
      border-radius: 200px; }

@media screen and (min-width: 50em) {
  header nav {
    padding: 0 7.5%; }
    header nav .navigations {
      display: inline; }
    header nav ul, header nav .logo, header nav ul li {
      display: inline-block;
      vertical-align: middle; }
    header nav ul li a {
      padding: 1em; }
    header nav .logo {
      border: none;
      padding: 1em;
      padding-right: 2em; }
    header nav .actions {
      float: right; }
    header nav .user-nav img {
      transition: all 0.2s ease-in;
      border: solid 1px transparent; }
    header nav .user-nav img:hover {
      border: solid 1px #37343F; }
    header nav div.actions {
      position: relative; }
      header nav div.actions .user-nav img {
        cursor: pointer;
        display: block;
        height: 50px; }
      header nav div.actions .show {
        display: block; }
      header nav div.actions ul {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #444;
        transition: all 0.3s linear; }
        header nav div.actions ul li a {
          font-size: 0.9em;
          display: block;
          padding: 0.5em 2em; }
        header nav div.actions ul li {
          width: 15em;
          border-bottom: solid 1px #eee; } }

/**
 * FOOTER
 **/
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 10em; }

html {
  height: 100%; }

footer {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 10em;
  background-color: #eee;
  text-align: center; }
  footer .links {
    margin: 0;
    padding: 0;
    list-style: none; }
    footer .links a {
      display: block;
      padding: 0.7em;
      text-decoration: none;
      color: #64578B; }
    footer .links a:hover {
      color: #37343F; }
  footer form {
    padding: 0; }
    footer form select {
      background-color: #37343F;
      border: none;
      color: #FFF;
      padding: 0.5em; }

@media screen and (min-width: 40em) {
  footer {
    height: 4em;
    padding: 1em 7.5%; }
    footer .links {
      float: left; }
      footer .links li {
        display: inline-block; }
      footer .links a {
        padding: 0.4em; }
    footer form {
      float: right; } }

/**
 * ALERT
 **/
.alert, .alert-debug, .alert-error, .alert-success, .alert-info, .alert-warning {
  padding: 1em;
  background-color: #d6e9c6;
  border: 1px solid transparent;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  text-align: center;
  margin: 0; }

.alert-debug {
  background-color: lightgray;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  color: #b94a48; }

.alert-success {
  background-color: #c9e7c1;
  color: #167810; }

.alert-info {
  background-color: #d5dcf8;
  color: #142E6C; }

.alert-warning {
  background-color: #f5f4ad;
  color: #6B6727; }

/**
 * CONTENT
 **/
.main {
  margin: 0 auto;
  width: 99%;
  max-width: 1200px;
  background-color: white;
  padding: 3em 1em;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif; }

/**
 * QUESTIONS LIST
 **/
.questions-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .questions-list li {
    border-bottom: 2px solid #000;
    overflow: hidden;
    margin-top: 2em; }
    .questions-list li .answer-count {
      text-align: center;
      float: right;
      border: 1px solid #eee;
      width: 6em; }
    .questions-list li .views-count {
      display: none;
      border: 1px solid #eee;
      width: 6em; }
    .questions-list li .publish-date p {
      margin: 0; }
    .questions-list li .question-author p {
      margin: 0; }
    .questions-list li .question-title p {
      font-size: 1.5em;
      margin-bottom: 0; }
    .questions-list li .question-title a {
      color: #64578B;
      text-decoration: none; }
    .questions-list li .question-title a:visited {
      color: #8B8865; }
    .questions-list li .question-title a:hover {
      color: #37343F;
      text-decoration: underline; }
  .questions-list li {
    background-color: #fcfcfc; }
  .questions-list li:after, .questions-list .doctor-question:after {
    content: "";
    height: 1em;
    display: block;
    background-color: #8B8865; }
  .questions-list .doctor-question:after {
    background-color: #64578B; }

@media screen and (min-width: 40em) {
  .questions-list li .views-count {
    text-align: center;
    float: right;
    display: block; } }
