// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}

/**
 * GENERAL
 **/

$neutral-color: #8B8865;
$primary-color: #64578B;
$secondary-color: #37343F;

* {
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #37343F;
}

/**
 * Image Inlarging
 **/

#enlargedImage {
    display: none;
    position: fixed;
    text-align: center;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100, 0.4);

    img {
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}

.special {
    background-color: rgba(116, 159, 224, 0.26);
}

/**
 * Main page
 **/

article {
    margin: 2em auto;
    width: 70%;
    max-width: 1200px;
}

article p {
    font-size: 16px;
}

article p:first-letter {
    font-size: 21px;
}



/**
 * HEADER
 **/

header nav {
    background-color: #64578B;
    margin: 0;

    ul {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li a {
            display: block;
            padding: 1.5em;
        }
    }

    a {
        font-family: 'Noto Serif', serif;
        text-decoration: none;
        text-transform: uppercase;
        color: #F4F1FC;
        font-weight: 600;
        transition: all 0.2s ease-in;
    }

    a:hover {
        color: #B7ACD5;
    }

    .logo {
        font-family: 'Architects Daughter', cursive;
        text-align: center;
        display: block;
        padding: 1.3em;
        text-transform: none;
        border-bottom: 1px solid black;
    }

    div.actions {
        display: block;
        text-align: center;
        margin: 0 auto;

        ul, ul li {
            display: block;
        }

        .user-nav img {
            display: none;
            -webkit-border-radius: 200px;
            -moz-border-radius: 200px;
            border-radius: 200px;
        }
    }
}

@media screen and (min-width: 40em) {
    header nav {
        padding: 0 7.5%;

        .navigations {
            display: inline;
        }

        ul, .logo, ul li {
            display: inline-block;
            vertical-align: middle;
        }

        ul li a {
            padding: 1em;
        }

        .logo {
            border: none;
            padding: 1em;
            padding-right: 2em;
        }

        .actions {
            float: right;
        }

        .user-nav img {
            transition: all 0.2s ease-in;
            border: solid 1px transparent;
        }

        .user-nav img:hover {
            border: solid 1px $secondary-color;
        }

        div.actions {
            position: relative;

            .user-nav img {
                cursor: pointer;
                display: block;
                height: 50px;
            }

            .show {
                display: block;
            }

            ul {
                display: none;
                position: absolute;
                top: 50px;
                right: 0;
                background-color: #444;
                transition: all 0.3s linear;

                li a {
                    font-size: 0.9em;
                    display: block;
                    padding: 0.5em 2em;
                }
                li {
                    width: 15em;
                    border-bottom: solid 1px #eee;
                }
            }
        }
    }
}

/**
 * FOOTER
 **/

$footer-height: 10em;

body {
    position: relative;
    min-height: 100%;
    padding-bottom: $footer-height;
}

html {
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: $footer-height;
    background-color: #eee;
    text-align: center;

    .links {
        margin: 0;
        padding: 0;
        list-style: none;

        a {
            display: block;
            padding: 0.7em;
            text-decoration: none;
            color: #64578B;
        }

        a:hover {
            color: #37343F;
        }
    }

    form {
        padding: 0;

        select {
            background-color: $secondary-color;
            border: none;
            color: #FFF;
            padding: 0.5em;
        }
    }
}

@media screen and (min-width: 40em) {
    footer {
        height: 4em;
        padding: 1em 7.5%;

        .links {
            float: left;
            li {
                display: inline-block;
            }

            a {
                padding: 0.4em;
            }
        }

        form {
            float: right;
        }
    }
}

/**
 * ALERT
 **/

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert {
    padding: 1em;
    background-color: $mint-green;
    border: 1px solid transparent;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    text-align: center;
    margin: 0;
}


.alert-debug {
    @extend .alert;
    background-color: lightgray;
    color: $black;
}

.alert-error {
    @extend .alert;
    background-color: $pink;
    color: $red;
}

.alert-success {
    @extend .alert;
    background-color: #c9e7c1;
    color: #167810;
}

.alert-info {
    @extend .alert;
    background-color: #d5dcf8;
    color: #142E6C;
}

.alert-warning {
    @extend .alert;
    background-color: #f5f4ad;
    color: #6B6727;
}

/**
 * CONTENT
 **/

.main {
    margin: 0 auto;
    width: 99%;
    max-width: 1200px;
    background-color: white;
    padding: 3em 1em;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
}
